/*
  You will need .env file in the following format. Please ask a developer for the below
*/

# ZumoKit config
API_KEY=
API_URL=
TRANSACTION_SERVICE_URL=
CARD_SERVICE_URL=
NOTIFICATION_SERVICE_URL=

# Client config
CLIENT_ZUMOKIT_AUTH_ENDPOINT=
CLIENT_HEADERS=
USER_WALLET_PASSWORD=
